.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
  gap: 16px;
  padding-bottom: 100px;
  font-family: "SF Pro Display", Arial, sans-serif;
  row-gap: 40px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project:nth-child(3n + 1) {
  grid-column: span 2;
}

.project__title {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.project__tools {
  font-size: 24px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 400;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__overlay-container {
  position: relative;
  height: 423px;
  width: 100%;
}

.project__overlay-container:hover .project__overlay {
  cursor: pointer;
  opacity: 1;
}

.project__overlay {
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  position: absolute;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 48px;
  width: 100%;
  height: 100%;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.project__button {
  width: 226px;
  height: 54px;
  font-size: 24px;
  color: #111111;
  background-color: #f0efea;
  border: 1px solid #111111;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.project__button:hover {
  background-color: #b06941;
  color: #f0efea;
  border: none;
}

@media screen and (max-width: 871px) {
  .projects__container {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .project:nth-child(3n + 1) {
    grid-column: auto;
  }

  .project__overlay {
    opacity: 1;
  }
}
