html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}


.page {
  background-color: #f0efea;
  color: black;
  min-height: 100vh;
  width: 100%;
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: "SF Pro Display", Arial, sans-serif;
}

.page__content{
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .page__content {
    padding: 20px;
    max-width: calc(100% - 40px);
  }
}