.main__headings {
  text-align: right;
  padding-right: 111px;
  padding-bottom: 60px;
}

.main__title {
  font-size: 85px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.main__location {
  margin-top: 15px;
}

.main__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 100px;
  align-items: flex-end;
}

.main__paragraph-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.main__description {
  margin: 0;
}
.main__paragraph {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
}

.main__paragraph--third {
  margin-bottom: 0;
}

.main__image {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  height: 356px;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .main__title {
    font-size: 70px;
  }
}

@media screen and (max-width: 991px) {
  .main__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 871px) {
  .main__headings {
    max-width: 290px;
    padding: 0 0 70px;
    margin: 0 auto;
  }
  .main__title {
    font-size: 22px;
    text-align: right; /*check it later */
  }

  .main__location {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  .main__content {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .main__image {
    margin-bottom: 70px;
  }

  .main__description{
    visibility: hidden;
  }

  .main__paragraph{
    font-size: 14px;
    font-weight: 400;
  }
}
